.ui.top.menu {
  background-color: #F5F5F5;
  border: none;
  box-shadow: none;
  height: 35px;
  margin: 0;
}

.ui.sectop.menu {
  box-shadow: none;
  border: none;
  height: 60px;
  margin-top: 0;
}

.notif{
  height: 60px;
  background-color: #F5F5F5;
  text-align: center;
  margin: 0;
}


.foot{
  background-color: black;
  height: 300px;
  color: white;
  margin-top: 30px;
}

.ui.container.bot{
  width: 1200px !important;
}